<!DOCTYPE html>

<html>
	<head>

		<meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">

		<title> ToneTone -- Welcome! </title>

		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/static/index.js"></script>

	</head>

	<body>

		<div id="contentContainer">

		<div id="mainContent">

			CEG Responses are here! <br/>

			<button id="playCEG"> CEG Chord </button> <br/>

			Type your emotional response (e.g. I'm so happy right now!) to the chord below for others to see on this page! <br/>

			<form id="CEGInsert" action="/CEG/" method="POST">

						<p> <input type="text" name="reaction" placeholder="I'm so happy right now!"> </p>

						<p> <input type="submit" value="Submit"> </p>

					</form>

			{% if status == "success" %}

				Congrats, your reaction was recorded! Yay!  <br/>

			{% endif %}

		</div>

		</div>

	</body>

</html>