<!DOCTYPE html>

<html>
	<head>

		<meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">

		<title> ToneTone -- Welcome! </title>

		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/static/index.js"></script>
		<script src="/static/ceg.js"></script>

	</head>

	<body>

		<div id="contentContainer">

		<div id="mainContent">

			CEG Responses are here! <br/>

			<button id="playCEG"> CEG Chord </button> <br/> <br/>

			Type your emotional response (e.g. I'm so happy right now!) <br/> 
			to the chord below for others to see on this page! <br/> <br/>

			<p> <input type="text" id="reaction" placeholder="I'm so happy right now!"> </p>

			<p> <button id="submit"> Yeah hi click me submit </button> </p> <br/>

			<div id="reviewContainer">Nothing yet</div>

		</div>

		</div>

	</body>

</html>
