<!DOCTYPE html>

<html>
	<head>

		<meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">

		<title> ToneTone -- Welcome! </title>

		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/static/index.js"></script>
		<script src="/static/ceg.js"></script>
		<script src="/static/search.js"></script>

	</head>

	<body>

		<div class="contentContainer">
			<a href="/"> <-Home </a>
			<div class="searchContainer">

				<div class="searchmainContent">

					Search for other chords <br/>

					<p> <input type="text" id="search_text" placeholder="Ex. CEG"> <button id="search"> Search </button>  </p> </br>

					<div id="resultContainer"> Nothing yet...ENTER the chord you want to listen! </div>

				</div>

			</div>

			<div class="mainContent">

				CEG Responses are here! <br/>

				<button id="playCEG"> CEG Chord </button> <br/> <br/>

				Type your emotional response (e.g. I'm so happy right now!) <br/>
				to the chord below for others to see on this page! <br/> <br/>

				<p> <input type="text" id="reaction" placeholder="I'm so happy right now!"> </p>

				<p> <button id="submit"> Submit </button> </p> <br/>

				<div id="reviewContainer">Nothing yet</div>

			</div>

		</div>

	</body>

</html>
