<!DOCTYPE html>

<html>
  <head>
    <meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">

    <title> ToneTone -- Welcome! </title>

    <link rel="stylesheet" type="text/css" href="/static/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/static/index.js"></script>
    <script src="/static/search.js"></script>
  </head>

	<body>
    <div class="contentContainer">

    <div class="mainContent">

      Search the chords you'd like to listen and make comments. <br/>

      <p> <input type="text" id="search_text" placeholder="Ex. CEG"> </p>

			<p> <button id="search"> Search </button> </p> <br/>

      <div id="resultContainer"> Nothing yet...ENTER the chord you want to listen!</div>

    </div>

    </div>

  </body>

</html>
