* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	line-height: 200%;
}

#reaction {
	width: 90%;
}

#reviewContainer {
	text-align: center;
}
.searchContainer{
	text-align: center;
	margin: 20px auto 20px auto;
}
.contentContainer {
	margin: 20px auto 20px auto;
	width: 40vw;
	/*width: auto;*/
	height: auto;
	border: 2px solid grey;
	border-radius: 5px;
}

.searchmainContent{
	text-align: center;
	width: auto;
	height: auto;
}
.mainContent {
	text-align: center;
	width: auto;
	height: auto;
}

button {
	padding: 5px 10px 5px 10px;
}
